.gamePage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1e1e1e;
    position: relative;
}

.gamePage h3 {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 20px;
    color: #ffffff;
}

.gamePage .card {
    width: 600px;
    height: 80%;
    padding: 32px;
    border-radius: 16px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 32px;
    border: 2px solid #34C4F6;
}

.gamePage .card h1 {
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 32px;
    text-align: center;
}

.gamePage .card h2 {
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 16px;
}

.gamePage .card h1 span, h2 span {
    text-decoration: underline;
    text-decoration-color: #54F4DF;
}